HOST=localhost
PORT=8080

DEBUG=true
ENV=dev

GITHUB_APP_IDENTIFIER=99999
GITHUB_PRIVATE_KEY=
#GITHUB_WEBHOOK_SECRET=<ONLY_SET_THIS_IF_YOUR_APP_HAS_IT_IN_GITHUB_UI>

# Restrict this deployment to a few accounts; open to everyone when unset:
#CHRONOGRAPHER_ALLOWED_ORGS='psf, aio-libs sanitizers'
